<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="index.html" class="navbar-link">Home</a>
            <a href="/templates/sobre-mim.html" class="navbar-link">Sobre mim</a>
        </nav>
    </header>

    <main class="conteudo">
        <div class="div-sobre-mim">
            <h1 class="titulo">Sobre mim</h1>
            <p class="sobre-mim">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique
                sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
            <p class="sobre-mim">harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                nobis
                est eligendi
                optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
                est,
                omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe
                eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                asperiores ipsum delis forum birol parela maxime infena. Excepteur sint occaecat cupidatat non.
            </p>
        </div>
        <img src="/images/Group 1@3x.png" alt="my-photo" class="my-photo">
    </main>

    <footer>
        <p>Desenvolvido por Alura.</p>
    </footer>
</body>

</html>